.biedri-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.biedri-thq-biedri-elm {
  width: 100%;
  height: 1320px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.biedri-thq-rectangle13-elm {
  top: 69px;
  left: 1px;
  width: 1280px;
  height: 126px;
  position: absolute;
}
 
.biedri-thq-nav-bar-elm {
  top: -1px;
  left: 0px;
  width: 1280px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.biedri-thq-button-enlist-elm {
  top: 17px;
  left: 1075px;
  width: 135px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(200, 16, 46, 1);
}
 
.biedri-thq-text-elm10 {
  color: rgba(255, 255, 255, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-image2-elm {
  top: 9px;
  left: 72px;
  width: 122px;
  height: 52px;
  position: absolute;
}
 
.biedri-thq-text-elm11 {
  top: 21px;
  left: 950px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm12 {
  top: 21px;
  left: 825px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm13 {
  top: 21px;
  left: 700px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-parmums-elm {
  top: 21px;
  left: 572px;
  width: 89px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.biedri-thq-text-elm14 {
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-line4-elm {
  top: 116px;
  left: 151px;
  width: 34px;
  height: 1px;
  position: absolute;
}
 
.biedri-thq-text-elm15 {
  top: 232px;
  left: 533px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Barlow Condensed;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-biedruuzmumi-elm1 {
  top: 289px;
  left: 128px;
  width: 1011px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm1 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm1 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm1 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm1 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm1 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm1 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-biedruuzmumi-elm2 {
  top: 468px;
  left: 128px;
  width: 1011px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm2 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm2 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm2 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm2 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm2 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm2 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-biedruuzmumi-elm3 {
  top: 647px;
  left: 128px;
  width: 1011px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm3 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm3 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm3 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm3 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm3 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm3 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-biedruuzmumi-elm4 {
  top: 381px;
  left: 128px;
  width: 1011px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm4 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm4 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm4 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm4 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm4 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm4 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-biedruuzmumi-elm5 {
  top: 468px;
  left: 128px;
  width: 1011px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm5 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm5 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm5 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm5 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm5 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm5 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-biedruuzmumi-elm6 {
  top: 555px;
  left: 128px;
  width: 1011px;
  height: 149px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm6 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm6 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm6 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm6 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm6 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm6 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-biedruuzmumi-elm7 {
  top: 85px;
  left: 0px;
  width: 1011px;
  height: 64px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-rectangle16-elm7 {
  top: 0px;
  left: 343px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle17-elm7 {
  top: 0px;
  left: 515px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle18-elm7 {
  top: 0px;
  left: 687px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle19-elm7 {
  top: 0px;
  left: 858px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle15-elm7 {
  top: 0px;
  left: 171px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle20-elm7 {
  top: 0px;
  left: 0px;
  width: 153px;
  height: 64px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-rectangle26-elm {
  top: 836px;
  left: 1px;
  width: 1280px;
  height: 162px;
  position: absolute;
}
 
.biedri-thq-text-elm16 {
  top: 935px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm17 {
  top: 895px;
  left: 121px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-rectangle4-elm {
  top: 903px;
  left: 968px;
  width: 175px;
  height: 51px;
  position: absolute;
  border-radius: 5px;
}
 
.biedri-thq-text-elm18 {
  top: 904px;
  left: 975px;
  color: rgba(255, 255, 255, 1);
  width: 153px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-arrow3-elm {
  top: 933px;
  left: 1115px;
  width: 13px;
  height: 1px;
  position: absolute;
}
 
.biedri-thq-footer-elm {
  top: 998px;
  left: 0px;
  width: 1280px;
  height: 322px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 31, 60, 1);
}
 
.biedri-thq-bg-elm {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 322px;
  position: absolute;
  border-color: rgba(255, 255, 255, 0.25);
}
 
.biedri-thq-group2-elm {
  top: 51px;
  left: 340px;
  width: 61px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-text-elm19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm20 {
  top: 28px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm21 {
  top: 53px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm22 {
  top: 78px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-group1-elm {
  top: 51px;
  left: 641px;
  width: 61px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-text-elm23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm24 {
  top: 28px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm25 {
  top: 53px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm26 {
  top: 78px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-group3-elm {
  top: 51px;
  left: 928px;
  width: 77px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.biedri-thq-text-elm27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm28 {
  top: 28px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm29 {
  top: 53px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-text-elm30 {
  top: 78px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-mappin-elm {
  top: 28px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.biedri-thq-mail-elm {
  top: 53px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.biedri-thq-phone-elm {
  top: 78px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.biedri-thq-text-elm31 {
  top: 110px;
  left: 72px;
  color: rgba(138, 155, 181, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-lu-alogofullwhite11-elm {
  top: 51px;
  left: 72px;
  width: 139px;
  height: 50px;
  position: absolute;
}
 
.biedri-thq-text-elm32 {
  top: 282px;
  left: 72px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-line3-elm1 {
  top: 267px;
  left: 72px;
  width: 1138px;
  height: 1px;
  position: absolute;
}
 
.biedri-thq-text-elm33 {
  top: 99px;
  left: 548px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: center;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.biedri-thq-line3-elm2 {
  top: 157.5px;
  left: 608.5px;
  width: 50px;
  height: 1px;
  position: absolute;
}
 
.biedri-thq-image10-elm {
  top: 307px;
  left: 318px;
  width: 115px;
  height: 28px;
  position: absolute;
}
 
.biedri-thq-image17-elm {
  top: 486px;
  left: 318px;
  width: 115px;
  height: 28px;
  position: absolute;
}
 
.biedri-thq-image21-elm {
  top: 665px;
  left: 318px;
  width: 115px;
  height: 28px;
  position: absolute;
}
 
.biedri-thq-image11-elm {
  top: 299px;
  left: 141px;
  width: 127px;
  height: 43px;
  position: absolute;
}
 
.biedri-thq-image18-elm {
  top: 478px;
  left: 141px;
  width: 127px;
  height: 43px;
  position: absolute;
}
 
.biedri-thq-image22-elm {
  top: 657px;
  left: 141px;
  width: 127px;
  height: 43px;
  position: absolute;
}
 
.biedri-thq-image12-elm {
  top: 307px;
  left: 490px;
  width: 119px;
  height: 26px;
  position: absolute;
}
 
.biedri-thq-image19-elm {
  top: 486px;
  left: 490px;
  width: 119px;
  height: 26px;
  position: absolute;
}
 
.biedri-thq-image23-elm {
  top: 665px;
  left: 490px;
  width: 119px;
  height: 26px;
  position: absolute;
}
 
.biedri-thq-sprinklerservicelogo1-elm {
  top: 300px;
  left: 656px;
  width: 128px;
  height: 43px;
  position: absolute;
}
 
.biedri-thq-sprinklerservicelogo2-elm {
  top: 479px;
  left: 656px;
  width: 128px;
  height: 43px;
  position: absolute;
}
 
.biedri-thq-sprinklerservicelogo3-elm {
  top: 658px;
  left: 656px;
  width: 128px;
  height: 43px;
  position: absolute;
}
 
.biedri-thq-image13-elm {
  top: 301px;
  left: 874px;
  width: 35px;
  height: 40px;
  position: absolute;
}
 
.biedri-thq-image20-elm {
  top: 480px;
  left: 874px;
  width: 35px;
  height: 40px;
  position: absolute;
}
 
.biedri-thq-image24-elm {
  top: 659px;
  left: 874px;
  width: 35px;
  height: 40px;
  position: absolute;
}
 
.biedri-thq-logolatakvafire1-elm {
  top: 295px;
  left: 1016px;
  width: 94px;
  height: 55px;
  position: absolute;
}
 
.biedri-thq-logolatakvafire2-elm {
  top: 474px;
  left: 1016px;
  width: 94px;
  height: 55px;
  position: absolute;
}
 
.biedri-thq-logolatakvafire3-elm {
  top: 653px;
  left: 1016px;
  width: 94px;
  height: 55px;
  position: absolute;
}
 
.biedri-thq-logo1-elm {
  top: 393px;
  left: 140px;
  width: 128px;
  height: 39px;
  position: absolute;
}
 
.biedri-thq-image14-elm {
  top: 376px;
  left: 326px;
  width: 89px;
  height: 73px;
  position: absolute;
}
 
.biedri-thq-image15-elm {
  top: 386px;
  left: 482px;
  width: 127px;
  height: 57px;
  position: absolute;
}
 
.biedri-thq-image16-elm {
  top: 381px;
  left: 665px;
  width: 102px;
  height: 64px;
  position: absolute;
}
 
.biedri-link {
  display: contents;
}
 
.biedri-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.biedri-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.biedri-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
