.contacts-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contacts-thq-contacts-elm {
  width: 100%;
  height: 1262px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.contacts-thq-nav-bar-elm {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.contacts-thq-button-enlist-elm {
  top: 17px;
  left: 1073px;
  width: 135px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(200, 16, 46, 1);
}
 
.contacts-thq-text-elm10 {
  color: rgba(255, 255, 255, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-image2-elm {
  top: 9px;
  left: 72px;
  width: 122px;
  height: 52px;
  position: absolute;
}
 
.contacts-thq-text-elm11 {
  top: 21px;
  left: 948px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm12 {
  top: 21px;
  left: 823px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm13 {
  top: 21px;
  left: 698px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-parmums-elm {
  top: 21px;
  left: 573px;
  width: 89px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contacts-thq-text-elm14 {
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-bg-elm {
  top: 70px;
  left: 0px;
  width: 1280px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 31, 60, 1);
}
 
.contacts-thq-line2-elm {
  top: 100.99999237060547px;
  left: 615px;
  width: 50px;
  height: 1px;
  position: absolute;
}
 
.contacts-thq-text-elm15 {
  top: 36px;
  left: 552px;
  color: rgba(255, 255, 255, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-rectangle2-elm {
  top: 609px;
  left: 0px;
  width: 1280px;
  height: 331px;
  position: absolute;
}
 
.contacts-thq-text-elm16 {
  top: 254px;
  left: 640px;
  color: rgba(13, 31, 60, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-sepsmall-elm1 {
  top: 236px;
  left: 640px;
  width: 162px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm17 {
  left: 35px;
  color: rgba(200, 16, 46, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Oswald;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-line1-elm1 {
  top: 9px;
  left: 27px;
  width: 27px;
  height: 1px;
  position: absolute;
}
 
.contacts-thq-group3-elm1 {
  top: 325px;
  left: 640px;
  width: 192px;
  height: 108px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm18 {
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm19 {
  top: 41px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm20 {
  top: 82px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-mappin-elm1 {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.contacts-thq-mail-elm1 {
  top: 41px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.contacts-thq-phone-elm1 {
  top: 82px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.contacts-thq-group7-elm {
  top: 326px;
  left: 867px;
  width: 192px;
  height: 156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm21 {
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm22 {
  top: 26px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm23 {
  top: 52px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm24 {
  top: 78px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm25 {
  top: 104px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm26 {
  top: 130px;
  left: 34px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-creditcard-elm {
  top: 0px;
  left: 0px;
  width: 26px;
  height: 26px;
  position: absolute;
}
 
.contacts-thq-image8-elm {
  top: 236px;
  left: 106px;
  width: 499px;
  height: 333px;
  position: absolute;
  border-radius: 5px;
}
 
.contacts-thq-text-elm27 {
  top: 651px;
  left: 106px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm28 {
  color: rgba(255, 255, 255, 1);
}
 
.contacts-thq-sepsmall-elm2 {
  top: 633px;
  left: 106px;
  width: 150px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm30 {
  left: 35px;
  color: rgba(200, 16, 46, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Oswald;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-line1-elm2 {
  top: 9px;
  left: 27px;
  width: 27px;
  height: 1px;
  position: absolute;
}
 
.contacts-thq-text-elm31 {
  top: 651px;
  left: 640px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm32 {
  color: rgba(255, 255, 255, 1);
}
 
.contacts-thq-sepsmall-elm3 {
  top: 633px;
  left: 640px;
  width: 150px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm34 {
  left: 35px;
  color: rgba(200, 16, 46, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Oswald;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-line1-elm3 {
  top: 9px;
  left: 27px;
  width: 27px;
  height: 1px;
  position: absolute;
}
 
.contacts-thq-rectangle9-elm {
  top: 725px;
  left: 106px;
  width: 216px;
  height: 31px;
  position: absolute;
  border-radius: 5px;
}
 
.contacts-thq-rectangle12-elm {
  top: 725px;
  left: 356px;
  width: 249px;
  height: 121px;
  position: absolute;
  border-radius: 5px;
}
 
.contacts-thq-rectangle10-elm {
  top: 770px;
  left: 106px;
  width: 216px;
  height: 31px;
  position: absolute;
  border-radius: 5px;
}
 
.contacts-thq-rectangle11-elm {
  top: 815px;
  left: 106px;
  width: 216px;
  height: 31px;
  position: absolute;
  border-radius: 5px;
}
 
.contacts-thq-text-elm35 {
  top: 728px;
  left: 364px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm36 {
  top: 818px;
  left: 114px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm37 {
  top: 773px;
  left: 114px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm38 {
  top: 728px;
  left: 114px;
  color: rgba(138, 155, 181, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-button-group-elm {
  gap: 16px;
  top: 860px;
  left: 106px;
  width: 216px;
  height: 424px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.contacts-thq-button-elm {
  gap: 8px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(200, 16, 46, 1);
}
 
.contacts-thq-text-elm39 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 100%;
}
 
.contacts-thq-footer-elm {
  top: 940px;
  left: 0px;
  width: 1280px;
  height: 322px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 31, 60, 1);
}
 
.contacts-thq-group2-elm {
  top: 51px;
  left: 340px;
  width: 61px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
}
 
.contacts-thq-text-elm40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm41 {
  top: 28px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm42 {
  top: 53px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm43 {
  top: 78px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-group1-elm {
  top: 51px;
  left: 641px;
  width: 61px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm44 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm45 {
  top: 28px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm46 {
  top: 53px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm47 {
  top: 78px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-group3-elm2 {
  top: 51px;
  left: 928px;
  width: 77px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.contacts-thq-text-elm48 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm49 {
  top: 28px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm50 {
  top: 53px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm51 {
  top: 78px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-mappin-elm2 {
  top: 28px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.contacts-thq-mail-elm2 {
  top: 53px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.contacts-thq-phone-elm2 {
  top: 78px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.contacts-thq-text-elm52 {
  top: 110px;
  left: 72px;
  color: rgba(138, 155, 181, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-lu-alogofullwhite11-elm {
  top: 51px;
  left: 72px;
  width: 139px;
  height: 50px;
  position: absolute;
}
 
.contacts-thq-text-elm53 {
  top: 282px;
  left: 72px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-line3-elm {
  top: 267px;
  left: 72px;
  width: 1138px;
  height: 1px;
  position: absolute;
}
 
.contacts-thq-text-elm54 {
  top: 725px;
  left: 640px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm55 {
  font-weight: 700;
}
 
.contacts-thq-text-elm56 {
  color: rgba(255, 255, 255, 1);
  text-decoration: NONE;
}
 
.contacts-thq-text-elm58 {
  top: 751px;
  left: 640px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm59 {
  font-weight: 700;
}
 
.contacts-thq-text-elm60 {
  color: rgba(255, 255, 255, 1);
  text-decoration: NONE;
}
 
.contacts-thq-text-elm62 {
  top: 777px;
  left: 640px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm63 {
  font-weight: 700;
}
 
.contacts-thq-text-elm64 {
  color: rgba(255, 255, 255, 1);
  text-decoration: NONE;
}
 
.contacts-thq-text-elm66 {
  top: 803px;
  left: 640px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: DM Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.contacts-thq-text-elm67 {
  font-weight: 700;
}
 
.contacts-thq-text-elm68 {
  color: rgba(255, 255, 255, 1);
  text-decoration: NONE;
}
 
.contacts-thq-text-elm70 {
  top: 725px;
  left: 1090px;
  color: rgba(200, 16, 46, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.contacts-thq-text-elm71 {
  top: 751px;
  left: 1090px;
  color: rgba(200, 16, 46, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.contacts-thq-text-elm72 {
  top: 777px;
  left: 1090px;
  color: rgba(200, 16, 46, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.contacts-thq-text-elm73 {
  top: 803px;
  left: 1090px;
  color: rgba(200, 16, 46, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
 
.contacts-link {
  display: contents;
}
 
.contacts-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.contacts-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.contacts-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
