.jaunumi-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.jaunumi-thq-jaunumi-elm {
  width: 100%;
  height: 1478px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.jaunumi-thq-bg-elm {
  top: 30.92705726623535px;
  left: 0px;
  width: 1280px;
  height: 164.6117706298828px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 31, 60, 1);
}
 
.jaunumi-thq-line2-elm {
  top: 136.07293701171875px;
  left: 615px;
  width: 50px;
  height: 1px;
  position: absolute;
}
 
.jaunumi-thq-text-elm10 {
  top: 75.07294464111328px;
  left: 562px;
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-nav-bar-elm {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.jaunumi-thq-button-enlist-elm {
  top: 17px;
  left: 1076px;
  width: 135px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(200, 16, 46, 1);
}
 
.jaunumi-thq-text-elm11 {
  color: rgba(255, 255, 255, 1);
  width: 135px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-image2-elm {
  top: 9px;
  left: 72px;
  width: 122px;
  height: 52px;
  position: absolute;
}
 
.jaunumi-thq-text-elm12 {
  top: 21px;
  left: 951px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm13 {
  top: 21px;
  left: 826px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm14 {
  top: 21px;
  left: 701px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm15 {
  top: 21px;
  left: 576px;
  color: rgba(0, 0, 0, 1);
  width: 89px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: DM Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-rectangle6-elm {
  top: 632px;
  left: 72px;
  width: 777px;
  height: 292px;
  position: absolute;
  border-radius: 10px;
}
 
.jaunumi-thq-text-elm16 {
  top: 731px;
  left: 341px;
  color: rgba(138, 155, 181, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm17 {
  top: 651px;
  left: 341px;
  color: rgba(0, 0, 0, 1);
  width: 597px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-rectangle5-elm {
  top: 219px;
  left: 881px;
  width: 263px;
  height: 42px;
  position: absolute;
  border-radius: 10px;
}
 
.jaunumi-thq-text-elm18 {
  top: 229px;
  left: 897px;
  color: rgba(0, 0, 0, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-vector2-elm {
  top: 229.37469482421875px;
  left: 1107px;
  width: 13px;
  height: 13px;
  position: absolute;
}
 
.jaunumi-thq-vector3-elm {
  top: 242.4888458251953px;
  left: 1117.83447265625px;
  width: 12px;
  height: 9px;
  position: absolute;
}
 
.jaunumi-thq-vector4-elm {
  top: 240.24069213867188px;
  left: 1119.7705078125px;
  width: 11px;
  height: 10px;
  position: absolute;
}
 
.jaunumi-thq-vector5-elm {
  top: 229px;
  left: 1111.46484375px;
  width: 4px;
  height: 2px;
  position: absolute;
}
 
.jaunumi-thq-vector6-elm {
  top: 229px;
  left: 1108.092529296875px;
  width: 3px;
  height: 3px;
  position: absolute;
}
 
.jaunumi-thq-rectangle7-elm {
  top: 632px;
  left: 72px;
  width: 777px;
  height: 292px;
  position: absolute;
  border-radius: 5px;
}
 
.jaunumi-thq-text-elm19 {
  top: 651px;
  left: 341px;
  color: rgba(0, 0, 0, 1);
  width: 471px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm20 {
  top: 731px;
  left: 341px;
  color: rgba(138, 155, 181, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-image5-elm {
  top: 680px;
  left: 71px;
  width: 223px;
  height: 188px;
  position: absolute;
  border-radius: 10px;
}
 
.jaunumi-thq-rectangle8-elm {
  top: 291px;
  left: 71px;
  width: 777px;
  height: 292px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.05000000074505806);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
 
.jaunumi-thq-text-elm21 {
  top: 310px;
  left: 340px;
  color: rgba(0, 0, 0, 1);
  width: 486px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm22 {
  top: 898px;
  left: 686px;
  color: rgba(138, 155, 181, 1);
  width: 561px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm23 {
  top: 557px;
  left: 672px;
  color: rgba(138, 155, 181, 1);
  width: 561px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm24 {
  top: 390px;
  left: 340px;
  color: rgba(138, 155, 181, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-image4-elm {
  top: 360px;
  left: 79px;
  width: 229px;
  height: 159px;
  position: absolute;
  border-radius: 10px;
}
 
.jaunumi-thq-text-elm25 {
  top: 276px;
  left: 885px;
  color: rgba(0, 0, 0, 1);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 800;
  line-height: 60px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm26 {
  top: 332px;
  left: 887px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm27 {
  top: 355px;
  left: 887px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm28 {
  top: 379px;
  left: 887px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm29 {
  top: 402px;
  left: 885px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm30 {
  top: 425px;
  left: 885px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm31 {
  top: 448px;
  left: 885px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm32 {
  top: 470px;
  left: 885px;
  color: rgba(0, 0, 0, 1);
  width: 265px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inclusive Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm33 {
  top: 552px;
  left: 905px;
  color: rgba(0, 0, 0, 1);
  width: 270px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-image7-elm {
  top: 589px;
  left: 897px;
  width: 198px;
  height: 148px;
  position: absolute;
}
 
.jaunumi-thq-text-elm34 {
  top: 552px;
  left: 83px;
  color: rgba(0, 0, 0, 1);
  width: 258px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm35 {
  top: 891px;
  left: 85px;
  color: rgba(0, 0, 0, 1);
  width: 232px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-footer-elm {
  top: 1156px;
  left: 0px;
  width: 1280px;
  height: 322px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 31, 60, 1);
}
 
.jaunumi-thq-group2-elm {
  top: 51px;
  left: 340px;
  width: 61px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.jaunumi-thq-text-elm36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm37 {
  top: 28px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm38 {
  top: 53px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm39 {
  top: 78px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-group1-elm {
  top: 51px;
  left: 641px;
  width: 61px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.jaunumi-thq-text-elm40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm41 {
  top: 28px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm42 {
  top: 53px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm43 {
  top: 78px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-group3-elm {
  top: 51px;
  left: 928px;
  width: 77px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.jaunumi-thq-text-elm44 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Barlow Condensed;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm45 {
  top: 28px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm46 {
  top: 53px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-text-elm47 {
  top: 78px;
  left: 21px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-mappin-elm {
  top: 28px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.jaunumi-thq-mail-elm {
  top: 53px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.jaunumi-thq-phone-elm {
  top: 78px;
  left: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
}
 
.jaunumi-thq-text-elm48 {
  top: 110px;
  left: 72px;
  color: rgba(138, 155, 181, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-lu-alogofullwhite11-elm {
  top: 51px;
  left: 72px;
  width: 139px;
  height: 50px;
  position: absolute;
}
 
.jaunumi-thq-text-elm49 {
  top: 282px;
  left: 72px;
  color: rgba(138, 155, 181, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.jaunumi-thq-line3-elm {
  top: 267px;
  left: 72px;
  width: 1138px;
  height: 1px;
  position: absolute;
}
 
.jaunumi-link {
  display: contents;
}
 
.jaunumi-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.jaunumi-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.jaunumi-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
